.body{
    background-color: rgb(211, 233, 233);
}
.total{
    display:run-in;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    color:rgb(226, 43, 43);
}
.button{
    background-color:rgb(226, 43, 43) ;
    color: beige;
    border-radius: 5px;
    margin-left: 100px;
    margin-bottom: 20px;
}
.options{
    background-color: rgb(239, 139, 139);
    border-radius: 5px;
    margin-left: 40px;
}
.des{
    margin-left: 37px;
}
.form{
    margin-top: 50px;
}

